.suggest {
  border-bottom: 1px solid #dadbdd;
  background-color: #f5f5f5;
  .contentSuggest {
    width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    h3 {
      font-size: 15px;
      padding: 0 16px;
      color: #62646a;
    }
    a {
      display: inline-block;
      background-color: #fff;
      border: 1px solid #dadbdd;
      font-size: 13px;
      color: #62646a;
      padding: 6px 10px;
      margin: 15px 10px 15px 0;
      border-radius: 3px;
      transition: all 0.3s linear;
      &:hover {
        background-color: #efeff0;
        color: #62646a;
        border: 1px solid #95979d;
      }
    }
  }
}
