.profile{
    padding-top: 125px;
    margin-bottom: 50px;
    .content{
        width: 75%;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 40% 60%;
        gap: 50px;
        margin-top: 32px;
    }
}