.feedback{
    .arrow {
        display: block;
    }
    .content{
        display: flex !important;
        align-items: center !important;
        column-gap: 64px;
        overflow: hidden;
        .col1{
            position: relative;
            img{
                width: auto;
                border-radius: 4px;
                height: 290px;
            }
        }
        .col2{
            padding-right: 48px;
            .title{
                display: flex;
                align-items: center;
                h5{
                    font-size: 20px;
                    font-weight: 400;
                    color: #74767e;
                    line-height: 140%;
                }
                img{
                    height: 36px;
                    margin-left: 10px;
                }
            }
            p{
                font-size: 26px;
                line-height: 40px;
                margin-top: 20px;
                font-style: italic;
            }
        }
    }
}