.jobList {
  padding-top: 125px;

  .results {
    width: 90%;
    margin: 0 auto;
    h1 {
      padding-top: 32px;
      padding-bottom: 12px;
      font-size: 32px;
      line-height: 150%;
    }
    .filterBar {
      .result {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 15px;
        margin-top: 10px;
        p {
          color: #74767e;
          font-size: 14px;
          line-height: 22px;
          font-weight: 600;
          padding: 0 10px;
        }
        h4 {
          display: flex;
          align-items: center;
          gap: 5px;
          cursor: pointer;
          span {
            font-weight: 400;
            color: #62646a;
          }
          svg {
            display: block;
            width: 20px;
            height: 20px;
            color: #62646a;
          }
        }
      }
    }
  }
  .content {
    margin-top: 16px;
    .row {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 32px;
    }
  }
  .page {
    margin: 20px auto;
    > ul {
      text-align: center;
    }
  }
}
