@import "node_modules/react-modal-video/scss/modal-video.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  a {
    text-decoration: none;
  }
  li {
    list-style: none;
  }
  scroll-behavior: smooth;
}
.container {
  width: 90%;
  margin: 0 auto;
  margin-bottom: 96px;
}
.titleh2 {
  font-size: 32px;
  line-height: 120%;
  padding-bottom: 24px;
  color: #404145;
}
.btnGreen {
  background-color: #1dbf73;
  cursor: pointer;
  transition: all 0.3s linear;
  &:hover {
    background-color: #19a463;
  }
}
.btnVideo {
  border: none;
  border-radius: 50%;
  padding: 16px;
  background-color: rgba(5, 5, 5, 0.6);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  transition: all 0.3s linear;
  svg {
    color: rgba(255, 255, 255, 0.85);
    font-size: 40px;
  }
}
