* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  a {
    text-decoration: none;
  }
  li {
    list-style: none;
  }
  scroll-behavior: smooth;
}
.container {
  width: 90%;
  margin: 0 auto;
  margin-bottom: 96px;
}
.titleh2 {
  font-size: 32px;
  line-height: 120%;
  padding-bottom: 24px;
  color: #404145;
}
.btnGreen {
  background-color: #1dbf73;
  cursor: pointer;
  transition: all 0.3s linear;
  &:hover {
    background-color: #19a463;
  }
}
.btnVideo {
  border: none;
  border-radius: 50%;
  padding: 16px;
  background-color: rgba(5, 5, 5, 0.6);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  transition: all 0.3s linear;
  svg {
    color: rgba(255, 255, 255, 0.85);
    font-size: 40px;
  }
}
.slick-arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  position: absolute;
  z-index: 4;
  top: 50%;
  transform: translateY(0%);
  width: 48px;
  height: 48px;
  margin-top: -24px;
  text-align: center;
  -webkit-box-shadow: 0 2px 5px 0 rgb(0 0 0 / 15%);
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 15%);
  border: 0;
  font-size: 16px;
  line-height: 100%;
  border-radius: 30px;

  &::before {
    content: none;
  }
  &::after {
    content: "";
    display: inline-block;
    background: url(https://fiverr-res.cloudinary.com/npm-assets/@fiverr/logged_out_homepage_perseus/apps/arrows.a8b0bad.svg)
      no-repeat;
    background-size: 16px 64px;
    width: 16px;
    height: 16px;
    margin-top: 3px;
  }
}
.slick-prev {
  &::after {
    background-position: 0 -32px;
  }
  &:hover {
    background-color: #fff;
  }
}
.slick-next {
  &::after {
    background-position: 0 -48px;
  }
  &:hover {
    background-color: #fff;
  }
}
