.cardBookingJob{
  .wrapper {
    border: 1px solid #dadbdd;
    .header {
      display: flex;
  
      .headerItem {
        background-color: #fafafa;
        border: 1px solid #dadbdd;
        border-left: none;
        color: #74767e;
        cursor: pointer;
        flex: 1 1;
        font-size: 16px;
        font-weight: 700;
        padding: 16px;
        text-align: center;
        &.active {
          background-color: #fff;
          border-bottom: 3px solid #1dbf73;
          color: #1dbf73;
        }
      }
    }
    .content {
      padding: 32px 24px;
      .info {
        display: flex;
        justify-content: space-between;
        margin-bottom: 8px;
        min-height: 48px;
        .name {
          font-size: 16px;
          line-height: 24px;
          font-weight: 700;
        }
        .price {
          font-size: 20px;
          font-weight: 400;
          line-height: 24px;
        }
      }
      .description {
        font-size: 14px;
        line-height: 140%;
        margin-top: 10px;
        word-break: break-word;
        min-height: 63px;
        color: #62646a;
      }
      .time {
        display: flex;
        font-weight: 700;
        margin-bottom: 8px;
        color: #62646a;
        p{
          font-size: 14px;
          line-height: 24px;
          margin-left: 5px;
        }
        svg{
          width: 18px;
          height: 18px;
          color: #62646a;
        }
        .delivery{
          display: flex;
          align-items: center;
          padding-right: 30px;
        }
        .revision{
          display: flex;
          align-items: center;
        }
      }
      .properties {
        color: #95979d;
        margin-top: 16px;
        .propItem{
          display: flex;
          align-items: center;
          padding-bottom: 6px;
          p{
            font-size: 14px;
            line-height: 21px;
          }
          svg{
            width: 16px;
            height: 16px;
            margin-right: 10px;
          }
          .active{
            color: #1dbf73;
          }
        }
      }
      .purchaseBtn {
        width: 100%;
        margin-top: 20px;
        background-color: #1dbf73;
        border: 1px solid transparent;
        border-radius: 4px;
        cursor: pointer;
        display: inline-block;
        font-size: 16px;
        font-weight: 600;
        line-height: 100%;
        padding: 12px 24px;
        text-align: center;
        transition: all .2s linear;
        color: #fff;
        &:hover{
          background-color: #19a463;
        }
      }
      .compare {
        
        padding-top: 12px;
        display: flex;
        justify-content: center;
        font-size: 14px;
        line-height: 21px;
        a{
          color: #1dbf73;
          &:hover{
            text-decoration: underline;
          }
        }
      }
    }
  }
  .contact{
    margin-top: 16px;
    background-color: #fafafa;
    padding: 24px;
    text-align: center;
    border: 1px solid #dadbdd;
    p{
      font-weight: 700;
      padding-bottom: 16px;
      color: #404145;
    }
    button{
      background-color: transparent;
      border: 1px solid #404145;
      color: #404145;
      border-radius: 4px;
      padding: 10px 20px;
      font-size: 16px;
      font-weight: 600;
      margin: 0 auto;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: all .3s linear;
      &:hover{
        border-color: transparent;
        background-color: #404145;
        color: #fff;
      }
      svg{
        width: 16px;
        height: 16px;
        margin-left: 8px;
      }
    }
  }
}
